{%extends "base.html" %}


{% block content %}
    <div class="row">
    <div class="col-4 offset-4">
    <div class="card" style="padding: 20px;">
        <h1>{{object.titulo}}</h1>
        <img src="{{ object.thumbnail.url }}" class="card-img-top" alt="...">
        <hr/>
        <p class="card-text">
            Posted {{ object.fecha_creado|timesince }} ago
        </p>
        <div style="padding: 10px;">
        <p>{{ object.contenido }}</p>
        </div> 
        <div>
            {% if request.user.is_authenticated %}
                <h4>Deja un comentario</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class='btn btn-primary' type="submit">Comentar</button>
                </form>
                <hr/>
                <h5>Comentarios</h5>
                {% for comentario in object.comentario %}
                    <div>
                        <p>
                            {{comentario.contenido}}
                            <br />
                            <small>{{ comentario.hora|timesince }} ago</small>
                        </p>
                    </div>
                {% endfor %}
            {% else %}
            <a href="{% url 'account_login' %}" class="btn btn-primary btn-block">Ingresa para comentar</a>
            {% endif %}
        </div>
    </div>
    </div>
    </div>
{% endblock content %}