{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-4 offset-4">
    <div class="card" style="padding: 10px;">
        <div class="col-90">
            <h1 class="">{{ object.titulo }}</h1>
            <img src="{{ object.thumbnail.url }}" class="card-img-top">
            <hr/>
            <div>
                <span class="float-right"> Escrito hace {{ object.fecha_creado|timesince }}</span>
            </div>
            <hr/>
            <div class="col-40" style="padding: 10px;" >
            <p style="text-align:justify"> {{ object.contenido }} </p>
            <h5>{{ object.autor }}</h5>
            </div>
            <hr/>
        </div>
        <div>
            {% if request.user.is_authenticated %}
                <h4>Deja un comentario</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class='btn btn-primary' type="submit">Comentar</button>
                </form>
                <hr/>
                <h5>Comentarios</h5>
                {% for comentario in object.comentario %}
                    <div>
                        <p>
                            <h5>{{comentario.usuario}}</h5>
                            {{comentario.contenido}}
                            <br />
                            <small>{{ comentario.hora|timesince }} ago</small>
                        </p>
                    </div>
                {% endfor %}
            {% else %}
            <a href="{% url 'account_login' %}" class="btn btn-primary btn-block">Ingresa para comenzar el debate</a>
            {% endif %}
        </div>
    </div>
    </div>
    </div>
{% endblock content %}